#tit {
	width: 100%;
	background-color: #000000;
	color: #FFF;
	text-align: center;
	position: relative;
	border-radius: 5px;
}

#content {
	width: 50%;
	text-align: center;
	border: 5px outset #A8A8A8 ;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
}

#foot {
	position: absolute;
	width: 100%;
	bottom:30px;
	text-align: center;
}

a{
	color: blue; 
	text-shadow: black 0.1em 0.1em 0.2em
}

#errors {
	text-align: center;
	text-decoration: bold;
	color: red;
}
