 /*NORMAL SHIT*/
#contenido {
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	margin-bottom: auto;
	min-width: 270px;
	width: 50%;
	text-align: center;
}
#contenido p {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}
#contenido p img{
	text-align: center;

}

#ContactData{
	width: 280px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	margin-bottom: auto;
	min-width: 270px;
	width: 50%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.cent{
	text-align: center;
}
#table-body{
	clear: both;
	padding: 15px;
}
#table-body li{
	border-top: 1px solid #ccc;
	padding: 7px 0;
}
#table-body li a,#table-body li a:visited{
	text-decoration: none;
	color: black;
	display: block;
}
#table-body li a:hover{
	color: #CCC;
	text-decoration: underline;
}
#legend ul li{
	float: left;
	display: block;
}
#table-body li a span{
	display: inline-block;
}
#contenid form{
	margin: 0 -15px 15px -15px !important;
	background: none;
}
#navar {
	text-align: center;
	width: 100%;
}
#legend ul {
	list-style: none;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
}

#gotoLogin{
	text-align: center;
}
/*CLASES*/
.legend-id{
	width: 5%;
}
.legend-title{
	width: 65%;
}
.legend-fecha{
	width: 82px;
	text-align: center;
}
.legend-gestor{
	width: 10%;
	text-align: center;
}
.legend-estado{
	width: 10%;
	text-align: center;
}



